body {
  font-family: "Jost", sans-serif;
  padding: 9rem 3rem;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 1.5rem 9rem;
  background-color: black;
}

.navigation ul {
  position: relative;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  isolation: isolate;
}

.navigation ul li:not(:last-child) {
  position: relative;
  z-index: 3;
  transition: all 0.3s ease;
}

.navigation ul li.active {
  background-color: rgba(255, 255, 255, 0.12);
}

.navigation ul li:hover {
}

.navigation ul li a {
  display: inline-flex;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.navigation-slide {
  position: absolute;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.16);
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}
